@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #151515;
  font-family: "Space Grotesk", sans-serif;
  margin: 0px 17px;
}

@layer components {
  .underline-green {
    @apply underline underline-offset-[7px] decoration-green-1;
  }

  .line {
    @apply h-[1px] bg-white ;
  }
}
